<footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
    <p class="col-md-4 mb-0 text-white">Made with &#128153; from Salamanca</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="/static/img/logo.png" width="50px" alt="">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><span class="nav-link px-2 text-white">v1.0</span></li>
    </ul>
</footer>