#mainContainer,#serverDescription{
    background-color: #14213d;
}

#mainContainer{
    min-height: 80vh;
}

#serverDescription{
    background: rgb(3,30,84);
    background: linear-gradient(0deg, rgba(3,30,84,1) 63%, rgba(20,33,61,1) 86%);

}

#adminCard{
    border: 2px solid #cbf3f0;
}

#avatarContainer{
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}

.service{
    border: 1px solid black;
}

.serviceAlertOn{
    border: 1px solid #0f5132;
    background-color: #051b11;
    color: #75b798;
}

#serviceInfoList .service:first-child{
    border-radius: 12px 12px 0 0;
}

#serviceInfoList .service:last-child{
    border-radius: 0px 0px 12px 12px;
}

.list-group{
    min-width: 323px;
}