<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('includes/head'); %>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <%- include('includes/app_nav'); %>
    <div id="mainContainer">
        <div class="row g-0">
            <div class="d-flex align-items-center justify-content-center d-md-none pt-4">
                <img src="/static/img/raspberry.png" width="250px" alt="">
            </div>
            <div class="col col-12 col-md-7 text-white mt-5 p-5">
                <h1>Plushy Server</h1>
                <h5>Control de mandos del servidor de PlushyZeus</h5>
                <div id="servicesGnr" class="mt-5">
                    <div class="row">
                        <div class="col col-6 p-3 d-flex justify-content-center">
                            <img src="/static/img/mariadb.png" width="70px" alt="">
                        </div>
                        <div class="col col-6 p-3 d-flex justify-content-center">
                            <img src="/static/img/qbittorrent.png" width="70px" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-6 p-3 d-flex justify-content-center">
                            <img src="/static/img/pihole.png" width="70px" alt="">
                        </div>
                        <div class="col col-6 p-3 d-flex justify-content-center">
                            <img src="/static/img/node.png" width="70px" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-5 text-white d-none d-md-flex align-items-center justify-content-center">
                <img src="/static/img/raspberry.png" width="350px" alt="">
            </div>
        </div>
    </div>

    <div id="serverDescription" class="">
        <div class="row pt-5 g-0">
            <div class="col col-12 col-md-6 d-flex justify-content-center align-items-center p-5">
                <div id="adminCard" class="d-flex flex-column align-items-center rounded rounded-3">
                    <div class="p-5 d-flex flex-column align-items-center">
                        <div id="avatarContainer">
                            <img src="/static/img/avatar.png" width="70px" alt="">
                        </div>
                        <h3 class="text-white">Borja Lorenzo</h3>
                        <span class="badge d-flex align-items-center p-1 pe-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
                            Administrador
                        </span>
                    </div>
                    <div class="d-flex flex-column align-items-stretch w-100 pb-3 px-2">
                        <button type="button" class="btn btn-lg btn-primary">Contactar</button>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 d-flex justify-content-center align-items-center p-5">
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="/static/img/uptime.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <div>
                            <h6 class="mb-0">Uptime</h6>
                            <p class="mb-0 opacity-75">up 8 weeks, 23 hours, 33 minutes</p>
                          </div>
                          <small class="opacity-50 text-nowrap">now</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="/static/img/storage.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <div>
                            <h6 class="mb-0">Storage</h6>
                            <p class="mb-0 opacity-75">142 GB al 86%</p>
                          </div>
                          <small class="opacity-50 text-nowrap">now</small>
                        </div>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img src="/static/img/temperature.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                          <div>
                            <h6 class="mb-0">Temperature</h6>
                            <p class="mb-0 opacity-75">54,5 ºC.</p>
                          </div>
                          <small class="opacity-50 text-nowrap">now</small>
                        </div>
                      </a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer'); %>
</body>
</html>